.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 1.25em;
    margin: 1em 1em;
}

.grid {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    background-color: yellow;
}

.square {
    width: 20px;
    height: 20px;
    border: 2px solid grey;
    margin: -1px -1px;
}

.wall {
    background-color: black;
}

.start {
    background-color: blue;
}

.end {
    background-color: purple;
}

.path {
    background-color: green;
}

.invalid {
    background-color: red;
}